.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    
}

img {
    width:100%;
}

.main-image {
    height: 100%;
    width: 100%;



}

.title {
    position:absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.front-page {
    display:grid;
    position:relative;
    text-align: center;
    background-color: beige;
    
}

.review-1 {
    display:grid;
    left: 50%;
}

.review-2 {
    display:grid;
}

.review-3 {
    display:grid;
}

.review-image {
    display:grid;
    width:60%;
    height: auto;
    
}

#img1 {
    display: grid;
    width: fit-content;
    height: auto;
}

.pa {
    background-color: beige;
}