*{
    margin:0
}

.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    
}

img {
    width:100%;
}

.main-image {
    height: 100%;
    width: 100%;



}

.title {
    position:absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-family: 'Julius Sans One';
}

.front-page {
    display:grid;
    position:relative;
    text-align: center;
    background-color:lightgrey;
    
}

.review-1 {
    display:grid;
    grid-template-columns: 1fr 2fr;
    left: 50%;
}

.review-2 {
    display:grid;
    grid-template-columns: 1fr 2fr;

}

.review-3 {
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.review-image {
    display:grid;


    height: auto;
    
}

#img1 {
    display: grid;
    width: fit-content;
    height: auto;
}

.pa {
    text-align: center;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;

}

.review-paragraph {
    display: grid;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    width:70%;
    margin: auto;
}

.review-title {
    text-align: center;
    font-family: 'Julius Sans One';
}

.idk-what-its-called {
    background-color: lightgray;
}

.main-body {
    width: 95%;
    margin: auto;
}